* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body,
html {
  font-family: effra, sans-serif;
}

header {
  padding: 2em;
}

.logo {
  width: 10rem;
}

section {
  padding: 2rem;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-bottom: 4rem;

  h1 {
    font-size: 6em;
    font-family: effra, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
  }
  h2 {
    font-weight: 300;
    font-size: 3em;
    text-align: center;
    width: 100%;
    letter-spacing: 2px;
    word-spacing: 2px;
    text-transform: uppercase;
  }
}

.profile-div {
  width: 100%;
  align-items: center;
}
.profile {
  align-content: center;
  min-width: 300px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

nav {
  display: flex;
  justify-content: space-around;
  background-color: #ffffff;
  padding: 2em 2em 0em 2em;
  height: 80 px;
  width: 100%;

  list-style: none;

  ul {
    font-family: effra, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 30px;
    color: black;
    list-style-type: none;
    text-transform: uppercase;
    margin-top: 2.5rem;
    li {
      display: inline-block;
      line-height: 80px;
      margin: 0 1em;
    }
  }
}

.burger {
  display: none;
  margin-top: 4em;
  div {
    width: 25px;
    height: 2px;
    background-color: black;
    margin: 5px;
    transition: all 0.3s ease;
  }
}

@media screen and (max-width: 950px) {
  body {
    overflow-x: hidden;
  }
  nav {
    ul {
      position: absolute;
      right: 0px;
      height: 92vh;
      top: 9.7rem;
      background-color: black;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 50%;
      transform: translateX(100%);
      transition: transform 0.2s ease-in;
      a {
        color: white;
      }
      a:visited {
        text-decoration: none;
        color: white;
      }
      a:focus {
        text-decoration: none;
        color: white;
      }
      a:hover,
      a:active {
        text-decoration: none;
        color: grey;
      }
      li {
        opacity: 0;
      }
    }
  }

  .burger {
    display: block;
    cursor: pointer;
  }

  section {
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;

    h1 {
      font-size: 4em;
      width: 100%;
      text-transform: uppercase;
    }
    h2 {
      font-size: 2em;
    }
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

a:visited {
  text-decoration: none;
  color: black;
}
a:focus {
  text-decoration: none;
  color: black;
}
a:hover,
a:active {
  text-decoration: none;
  color: rgb(126, 126, 126);
}

.toggle {
  // .line1 {
  //   transform: rotate(-45deg) translate(-5px, 6px);
  // }
  // .line2 {
  //   opacity: 0;
  // }
  // .line3 {
  //   transform: rotate(45deg) translate(-5px, -6px);
  // }
}
