* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
html {
  font-family: effra, sans-serif;
}

header {
  padding: 2em;
}

.logo {
  width: 10rem;
}

section {
  padding: 4em;
}

section h1 {
  font-size: 6em;
  font-family: effra, sans-serif;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  width: 100%;
}

section h2 {
  font-weight: 300;
  font-size: 3em;
  text-align: center;
  width: 100%;
  letter-spacing: 2px;
  word-spacing: 2px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #ffffff;
  padding: 2em;
  height: 80 px;
  width: 100%;
  list-style: none;
}

nav ul {
  font-family: effra, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 30px;
  color: black;
  list-style-type: none;
  text-transform: uppercase;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 1em;
}

.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 2px;
  background-color: black;
  margin: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media screen and (max-width: 950px) {
  body {
    overflow-x: hidden;
  }
  nav ul {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 10rem;
    background-color: black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50%;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.2s ease-in;
    transition: -webkit-transform 0.2s ease-in;
    transition: transform 0.2s ease-in;
    transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
  }
  nav ul a {
    color: white;
  }
  nav ul a:visited {
    text-decoration: none;
    color: white;
  }
  nav ul a:focus {
    text-decoration: none;
    color: white;
  }
  nav ul a:hover,
  nav ul a:active {
    text-decoration: none;
    color: grey;
  }
  nav ul li {
    opacity: 0;
  }
  .burger {
    display: block;
    cursor: pointer;
  }
}

.nav-active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

a:visited {
  text-decoration: none;
  color: black;
}

a:focus {
  text-decoration: none;
  color: black;
}

a:hover,
a:active {
  text-decoration: none;
  color: #7e7e7e;
}

.toggle .line1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
          transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  -webkit-transform: rotate(45deg) translate(-5px, -6px);
          transform: rotate(45deg) translate(-5px, -6px);
}
/*# sourceMappingURL=main.css.map */